.layout {
  width: 33.33333%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-left: 3.1rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: space-between;
}
