.performance {
  background-color: #282d30;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  position: relative;
  width: 15vw;
  height: 15vw;
  max-width: 25.8rem;
  max-height: 25.8rem;
  border-radius: 0.5rem;
}
